<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitalcreative.appguru">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".presentation.ui.assignment.section.SubmittedActivity"></activity>
        <activity android:name=".presentation.ui.assignment.detail.DetailAssignmentActivity" />
        <activity android:name=".presentation.ui.classroom.AddClassroomActivity" />
        <activity android:name=".presentation.ui.question.AddQuestionActivity" />
        <activity android:name=".presentation.ui.assignment.section.AddSectionActivity" />
        <activity android:name=".presentation.ui.assignment.section.SectionActivity" />
        <activity android:name=".presentation.ui.question.QuestionActivity" />
        <activity android:name=".presentation.ui.assignment.AddAssignmentActivity" />
        <activity android:name=".presentation.ui.report.detail.DetailReportActivity" />
        <activity android:name=".presentation.ui.report.ReportActivity" />
        <activity android:name=".presentation.ui.student.AddStudentActivity" />
        <activity android:name=".presentation.ui.assignment.AssignmentActivity" />
        <activity android:name=".presentation.ui.classroom.ClassroomActivity" />
        <activity android:name=".presentation.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>